<ion-header>
  <ion-toolbar>
    <ion-title>Plugins en Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="takePhoto()">Tomar Foto</ion-button>
  <ion-button expand="full" (click)="getLocation()"> Obtener Ubicación</ion-button>
  <ion-button expand="full" (click)="checkNetwork()"> Verificar Red</ion-button>

  <div *ngIf="photo">
    <h3>Foto tomada:</h3>
    <img [src]="photo" *ngIf="photo" style="width: 100%; border-radius: 10px;" />
  </div>

  <div *ngIf="location">
    <h3>Ubicación:</h3>
    <p>Latitud: {{ location?.latitude }}</p>
    <p>Longitud: {{ location?.longitude }}</p>
  </div>
  

  <div *ngIf="networkStatus !== null">
    <h3>Estado de Red:</h3>
    <p>{{ networkStatus ? ' Conectado a Internet' : ' Sin conexión' }}</p>
  </div>
</ion-content>
